body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #1f2937;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
}

.hero {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-hero {
  display: flex;
  justify-content: flex-end;
}

.heading {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  width: 400px; /* Feels like a cheap way to make it look the same as the example */
}

.hero-text,
a {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 400px;
}

.hero-text {
  margin-bottom: 10px;
}

.hero-button {
  background-color: #3882f6;
  color: #eee;
  font-weight: 700;
  border-radius: 12px;
  padding: 8px 32px;
  border: none;
}

.process-container {
  height: 500px;
}

.process-header {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 50px;
}

.process {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
  gap: 10px;
}

.step-image {
  border: 6px solid rgb(110, 110, 225);
  border-radius: 10px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

.process-text {
  text-align: center;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #e5e7eb;
  flex-direction: column;
}

.quote {
  width: 900px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quoter {
  display: flex;
  align-self: flex-end;
  font-weight: 700;
  font-size: 28px;
  margin-right: 500px; /* feels like a cheap way to align not using flex */
}

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.newsletter {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 300px;
}

.cta-container {
  background-color: #3882f6;
  padding: 50px 150px;
  display: flex;
  gap: 100px;
  align-items: center;
  border-radius: 5px;
}

.cta-header,
.cta-text {
  color: white;
}

.cta-header {
  font-size: 24px;
  font-weight: 700;
}

.cta-text {
  font-size: 18px;
}

.cta-button {
  background-color: #3882f6;
  color: #eee;
  font-weight: 700;
  border-radius: 12px;
  padding: 8px 32px;
  border: 2px solid white;
}
